In [1]:
import import_ipynb
import functions as f

importing Jupyter notebook from functions.ipynb

In [2]:
p = 1000003
g = 2
a = 322470

In [3]:
f.DH_public_key(g, a, p)

514229

In [4]:
h_B = 55013

In [5]:
f.DH_shared_secret(h_B, a, p)

553408

2

In [6]:
p = 29009
n = p - 1
prime_factorization = [(2, 4), (7, 2), (37, 1)]
g = 11
h = 12542

In [7]:
f.DLP_Pohlig_Hellman_numbers(g, h, p, n, prime_factorization, True)

i = 1
p = 2
h_2_-1 = 12542
a_2_-1 = 0
n_2 = 14504
r_2 = 29008

	j = 0
	n_2_0 = 14504
	h_2_0 = 12542
	s_2_0 = 1
	a_2_0 = 0

	j = 1
	n_2_1 = 7252
	h_2_1 = 12542
	s_2_1 = 1
	a_2_1 = 0

	j = 2
	n_2_2 = 3626
	h_2_2 = 12542
	s_2_2 = 29008
	a_2_2 = 1

	j = 3
	n_2_3 = 1813
	h_2_3 = 25063
	s_2_3 = 1
	a_2_3 = 0

i = 2
p = 7
h_7_-1 = 12542
a_7_-1 = 0
n_7 = 4144
r_7 = 25100

	j = 0
	n_7_0 = 4144
	h_7_0 = 12542
	s_7_0 = 13173
	a_7_0 = 4

	j = 1
	n_7_1 = 592
	h_7_1 = 25063
	s_7_1 = 13173
	a_7_1 = 4

i = 3
p = 37
h_37_-1 = 12542
a_37_-1 = 0
n_37 = 784
r_37 = 3243

	j = 0
	n_37_0 = 784
	h_37_0 = 12542
	s_37_0 = 17462
	a_37_0 = 34

a_is = [4, 32, 34]
p_is = [16, 49, 37]

3364

3

In [8]:
n = 14802907667
a = 934311
s = list(range(1, 17))

In [9]:
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [10]:
f.p_1_method(n, a, s, True)

s = 720720

b = 3886901517
d = 1247401

(1247401, 11867)

4

In [11]:
a = 83
d = 149
p = 239
P = (172, 161)

In [12]:
f.twisted_multiple_additions(P, 3, a, d, p, True)

1P = (172, 161)
2P = (27, 176)
3P = (90, 19)

(90, 19)

In [13]:
f.is_on_twisted_curve(P, a, d, p, True)

95 95

True

In [14]:
f.is_on_twisted_curve((90, 19), a, d, p, True)

115 115

True